body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    width: 100vw;
    height: 100vh;
    min-height: 1200px;
    margin: 0;
    padding: 10px;
    background-color: var(--night);
    color: var(--white);

    font-family: Urbanist;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    color: var(--red)
}

canvas {
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

button, input {
    font-family: 'Urbanist';
    background-color: var(--night);
    color: var(--gold);
    border-color: var(--gold);
    margin-top: 25px;
    padding: 5px 10px 5px 10px;
    min-width: 40px;
    max-width: 100px;
    border-radius: 5px;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 960px;
}



:root {
    --night: #1A1B26;
    --white: rgb(229, 240, 244);
    --red: #FF757F;
    --green: #9ECE6A;
    --gold: #EFB662;
    --lightBlue: #7DCFFF;
    --blue: #7AA2F7;
}